* {
    margin: 0;
    padding: 0;
}


/* .brand {
    display: flex; 
    align-items: center; 
    gap: 15px; 
}

.main-logo {
    height: 200px;
    width: 200px;
    background-image: url('../images/logo_photo.jpg');
    background-size: contain;
    background-repeat: no-repeat;
}


.brand-name {
    font-size: 32px; 
    font-weight: bold; 
    margin: 0; 
    color: #333; 
} */

.side-panel {
    height: 100vh;
    width: 250px; 
    position: fixed; /* Фиксируем поверх всего сайта */
    top: 0;
    left: -250px; /* Прячем её ровно на её ширину за левый край экрана */
    background-color: #0b2e59;
    padding-top: 60px;
    transition: 0.3s ease; /* Плавная анимация выезда за 0.3 секунды */
    z-index: 1000;
}

.side-panel a {
    padding: 15px 30px;
    text-decoration: none; 
    font-size: 20px;
    color: #f28b0f;
    display: block; 
    transition: 0.2s;
}



.side-panel a:hover {
    background-color: #555;
    color: #f1f1f1;
}

/* Кнопка "Крестик" */
.close-btn {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 36px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

/* Специальный класс, который будет выдвигать панель на экран */
.side-panel.open {
    left: 0; 
}









/* --- ГЛАВНАЯ ШАПКА --- */
.header {
    background-color: #ffffff; 
    height: 90px;
    display: flex;
    justify-content: space-between; /* Расталкиваем левую и правую части по краям */
    align-items: center;
    padding: 0 40px; /* Отступы по бокам */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Легкая тень снизу */
    font-family: 'Arial', sans-serif; /* Базовый шрифт */
}

.brand {
    display: flex;
    align-items: center;
    gap: 0px;
}

.main-logo {
    height: 60px; 
    width: 60px;
    background-image: url('../images/logo_photo.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}

.brand-name {
    font-size: 28px;
    font-weight: 800;
    margin: 0; /* зачем margin 0*/
    color: #0b2e59; 
    cursor: pointer;
}

.brand-name::after {
    content: '';
    position: relative;
    left: 2px;
    border: 6px solid transparent;
    border-top-color: #888;
}


.header-actions {
    display: flex;
    align-items: center;
    gap: 30px; 
}


.contact-phone {
    display: block; 
}
.phone {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin: 2px 0;  
}


.social-link a {
    text-decoration: none; 
    display: inline-block; 
}

.social-link img {
    transition: transform 0.2s;
}

.social-link a:hover img {
    transform: scale(1.2); 
}

.consultation-btn {
    background-color: #f28b0f; 
    color: white;
    border: none;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px; 
    cursor: pointer;
    transition: background-color 0.3s;
}

.consultation-btn:hover {
    background-color: #d17508; 
}


.lang-select {
    background-color: transparent;
    border: 2px solid #0b2e59; 
    color: #0b2e59;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
}





.articles-page{
    max-width:1400px;
    margin:auto;
    padding:40px;
}

/* ===================
   HERO
=================== */

.articles-hero{

    text-align:center;

    margin-bottom:60px;
}

.articles-hero h1{

    font-size:3rem;

    margin-bottom:15px;

    color:#0f172a;
}

.articles-hero p{

    max-width:700px;

    margin:auto;

    color:#64748b;
}

/* ===================
   SEARCH
=================== */

.articles-search{

    display:flex;
    justify-content:center;

    margin-bottom:50px;
}

.articles-search input{

    width:100%;
    max-width:600px;

    padding:16px 20px;

    border:none;

    border-radius:12px;

    background:white;

    box-shadow:
        0 5px 20px rgba(0,0,0,.05);

    outline:none;
}

/* ===================
   ARTICLES
=================== */

.articles-grid{

    display:grid;

    grid-template-columns:
        repeat(auto-fit,minmax(350px,1fr));

    gap:30px;
}

.article-card{

    background:white;

    border-radius:20px;

    overflow:hidden;

    box-shadow:
        0 5px 20px rgba(0,0,0,.06);

    transition:.3s;
}

.article-card:hover{

    transform:translateY(-8px);
}

.article-card img{

    width:100%;
    height:240px;

    object-fit:cover;
}

.article-content{

    padding:25px;
}

.article-date{

    display:block;

    margin-bottom:15px;

    color:#94a3b8;

    font-size:.9rem;
}

.article-content h2{

    margin-bottom:15px;

    color:#0f172a;

    font-size:1.4rem;
}

.article-content p{

    color:#64748b;

    line-height:1.7;

    margin-bottom:25px;
}

.article-content a{

    text-decoration:none;

    color:#f97316;

    font-weight:600;
}





/* --- ФУТЕР --- */
.footer {
    background-color: #0b2e59; 
    color: #ffffff; 
    padding: 50px 40px; 
    font-family: 'Arial', sans-serif;
    margin-top: 60px; 
}

.footer-container {
    display: flex;
    justify-content: space-between; 
    align-items: flex-start; 
    flex-wrap: wrap; 
    gap: 30px;
}

.footer-brand {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 250px;
}

.footer-brand-name {
    color: #ffffff;
}
.footer-brand-name::after {
    display: none; 
}

.copyright {
    font-size: 14px;
    color: #a0b3c6;
    line-height: 1.5;
    margin: 0;
}

.footer-section {
    display: flex;
    flex-direction: column;
    gap: 12px; /* Расстояние между строками в колонке */
}

.footer-section h3 {
    color: #f28b0f; /* Твой фирменный оранжевый акцент для заголовков */
    font-size: 18px;
    margin: 0 0 5px 0;
}

.footer-section p {
    margin: 0;
    font-size: 15px;
    color: #d1dcf0; 
}

.footer-section .contact-phone a {
    display: block;
}


.footer .phone {
    color: #ffffff;
}

.footer .email {
    text-decoration: underline;
    cursor: pointer;
}

.footer .email:hover {
    color: #f28b0f; 
}

/* Соцсети выстраиваем в ряд */
.footer-social {
    display: flex;
    max-width: 150px;
    flex-wrap: wrap;
    gap: 15px;
}

.footer-brand .main-logo,
.footer-brand .brand-name {
    cursor: default;
}